 <h1>Emily's Task Manager App</h1>
 <a ui-sref="expired">Expired Tasks</a>

 <form class= "form">
 	<h3>Create a New Task</h3>
 	<input type="text" ng-model="task.description">
  <select class="priority" ng-model="task.priority">
      <option value="">Priority</option>
      <option value="3">Low</option>
      <option value="2">Medium</option>
      <option value="1">High</option>
    </select><br />
 	<div class="submission">
    <input type="submit" ng-click="home.update(task)" value="Add">
 	</div>
 </form>
 <div class=current-tasks>
   <h3>Current Tasks</h3>
    <div ng-repeat="task in home.tasks | orderBy:'Priority'" ng-show="task.CreatedAt > home.oldTime && !task.completed" >

      <input class="checkBox" type="checkbox" ng-model="task.completed" ng-click="home.clickedCheckbox(task)"> {{ task.Description }} submitted: {{task.CreatedAt | date:'MMM dd, hh:mm:ss a, y'}} <br/>

    </div>
</div>
